# Dependencies
node_modules
__pycache__
*.pyc

# Python Virtual Environments
venv/
env/
ENV/
.venv/
virtualenv/
venv.bak/
.Python
pip-wheel-metadata/
*.egg-info/
.eggs/

# Project specific
backend/archive
backend/create-rag-datastore/processed_documents
backend/image-inspection/test1/
frontend/test/template_app.txt

# Environment Variables
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.test
!**/.env.example

# Service Account Keys
**/service-account-key.json
**/*-sa-key.json

# Logs and debug files
*.log
firebase-debug.log*
frontend/firebase-debug.log
backend/function-site-check/javascript-function/.env.gemini-med-lit-review
frontend/.firebase/hosting.cHVibGlj.cache
fda-genai-for-food.code-workspace
test_scripts
